.sale{
    background-color: #e5e6ef;
    padding: 30px 0;
    margin: 80px 0 !important;
}
.sale img{
    height: 280px;
    object-fit: contain;
}
.sale-box{
    background-color:#d10024 ;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.sale-box p{
    font-size: 12px;
    margin-bottom: 0 !important;
}
@media (max-width: 990px){
    .sale img{
        display: none;
    }
}
.newsletter{
    border-top: 1px solid rgb(190, 186, 180);
    padding: 28px 0;
}
.newsletter .newsheading{
    font-size: 24px;
    font-weight: 400;
    color: black;
}
.newsletter .newsheading span{
    font-size: 26px;
    font-weight: 600;
}
.newsletter .form-control{
    min-width: 300px !important;
}
.newsicon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(205, 191, 191);
    color: #03072d;
}
.newsicon:hover{
    background: rgb(231, 211, 211);
    color: #d10024;
}

